---
---
/*------------------------------------*\
    #Dependencies
\*------------------------------------*/

/* Needed for some services */
@charset "UTF-8";


/* Fonts */
$primary: 'futura-pt', Helvetica, Arial sans-serif;


/* Colours */
$main-color: #8694a1;
$light: rgba(white, 0.15);
$highlight-color: #98B54B;
$dark: #28282d;


/* Import */
@import 'mixins';
@import 'typography';





/*------------------------------------*\
    #General
\*------------------------------------*/

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	width: 100%;
}

body {
	background: $dark;
	color: $main-color;
	font-size: 100%;
	font-weight: normal;
	text-align: center;
	-webkit-text-size-adjust: 100%; /* Because iPhones are dumb sometimes. */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

ul, li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}





/*------------------------------------*\
    #Main_Style
\*------------------------------------*/

#bg { /* I usually don't style with IDs, but using a class adds no benefits here */
	background-image: url('../img/assets/cover.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	opacity: 0;
	position: fixed;
	width: 100%;
	z-index: -100;
}

@media only screen and (max-width: 721px) {
	#bg {
		background-image: url('../img/assets/cover-mob.jpg');
	}
}

.┬──┬ {
	display: table;
	height: 100%;
	margin: 0 auto;
	max-width: 90%;
	width: 100%;
}

.vertical {
	display: table-cell;
	vertical-align: middle;
}

footer {
	bottom: 14px;
	position: fixed;
	width: 100%;

	p {
		margin: 0;
	}

	span {
		opacity: 0;
		z-index: -200;
	}
}

.ಠ︵ಠ {
	position: relative;
	padding-bottom: 14px;
}

#message {
	@include animate(0.3s ease-out);
}





/*------------------------------------*\
    #Element_Style
\*------------------------------------*/

#count {
	border: 0;
	color: #FFF;
	font-family: $primary;
	font-size: 1em;
	font-weight: 400;
	margin: 0;
	padding: 0;
}

.ಠ_ಠ {
	height: 36px;
	vertical-align: bottom;
}

.container {
	@include animate(0.3s ease-out);
	border-bottom: 1px solid $light;
	border-top: 1px solid $light;
	margin: 30px 0 35px;
	padding: 16px 0;
	overflow: hidden;
}

ul {
	position: relative;
}

#data li {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
}

#data .show {
	display: block;
}

#data .hidden {
	display: none;
}

@import 'form';

.button {
	@include animate(0.1s ease-out);
	background: $highlight-color;
	border-radius: 50px;
	box-shadow: 0px 3px 10px rgba(black, 0.1);
	cursor: pointer;
	display: inline-block;
	font: 500 0.9em/0 $primary;
	padding: 16px 23px 16px 20px;
	text-transform: uppercase;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	&:hover {
		/* background: darken($highlight-color, 5%); */
		box-shadow: 0px 3px 10px rgba(black, 0.2);
	}
}

.push:active, .press {
	box-shadow: 0 2px 10px rgba(black, 0.2);
	-webkit-transform: scale(0.9);
	transform: scale(0.9);

	svg {
		-webkit-transform: rotate(500deg); /* Magic number, might be adjusted */
		transform: rotate(500deg); /* Magic number, might be adjusted */
		@include animate(1s ease-out);
	}
}

svg {
	@include animate(0.3s ease-out);
	height: 10px;
	margin-right: 5px;
	width: 20px;
	fill: #FFF;
}

.list-view {
	margin: 30% 0;

	ul {
		margin-top: 10%;
		text-align: left;
	}

	li {
		@include animate(0.1s ease-out);
		font: 300 1em/1.4 $primary;
		margin: 0 0 40px 10px;

		&:after {
			content: '';
			display: table;
			clear: both;
		}

		&:hover {
			opacity: 0.75;
		}

		.challenge, .number {
			float: left;
		}

		.number {
			width: 10%;
			font-size: 1em;
			opacity: 0.5;
			top: -10px;
		}

		img {
			height: 20px;
			width: 20px;
			vertical-align: bottom;
		}

		.challenge {
			width: 90%;
		}
	}

	.button {
		margin-top: 40px;
	}
}

@media only screen and (min-width: 719px) {
	.list-view li {
		font-size: 1.2em;
	}
}





/*------------------------------------*\
    #Menu
\*------------------------------------*/

#trigger {
	@include animate(0.1s ease-out);
	border: 1px solid $light;
	border-radius: 50%;
	top: 0;
	cursor: pointer;
	display: block;
	font-size: .9em;
	height: 30px;
	line-height: 28px;
	margin: 10px;
	position: fixed;
	right: 0;
	width: 30px;
	z-index: 1000;

	&:hover {
		background: $light;
	}

	&:active {
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
	}
}

.i {
	background: $light; /* Menu icon active */
}

.active-page {
	color: #FFF; /* Link in menu active */
}

.active {
	pointer-events: auto;
}

nav {
	@include animate(0.3s);
	bottom: auto;
	top: 0;
	padding: 10px 0;
	position: fixed;
	right: 44px;
	text-align: right;
	pointer-events: none;
	z-index: 1000;

	li {
		@include animate(0.2s ease-out);
		display: inline-block;
		font-size: .85em;
		padding: 6px 0 0;
		opacity: 0;
		-ms-transform: translate3d(-100px, 0, 0);
		-webkit-transform: translate3d(-100px, 0, 0);
		transform: translate3d(-100px, 0, 0);
	}

	a {
		padding: 6px 8px 10px;
		@include animate(0.2s ease-out);
		color: $main-color;
	}
}

@media only screen and (max-width: (370px - 1)) {
	#trigger:after {
		content: '';
		display: block;
		width: 140%;
		height: 140%;
		padding: 40%;
		position: absolute;
		top: -20%;
		left: -20%;
	}
}

@media only screen and (min-width: 370px) {
	#trigger {
		height: 40px;
		width: 40px;
		line-height: 38px;
		margin: 20px;
	}

	nav {
		top: 14px;
		right: 75px;

		li {
			font-size: .9em;
		}
	}
}

@media only screen and (min-width: 719px) {
	#trigger {
		bottom: 0;
		top: auto;
	}

	nav {
		bottom: 65px;
		right: 20px;
		top: auto;

		li {
			display: block;

			a:hover {
				color: #FFF;
			}
		}
	}
}





/*------------------------------------*\
    #Responsive
\*------------------------------------*/

/* Adjusted for width */

@media only screen and (min-width: 520px) {
	.┬──┬ {
		max-width: 80%;
	}

	h1 {
		font-size: 1.8em;
	}

	#count {
		font-size: 1.3em;
	}

	svg {
		height: 12px;
	}

	.button {
		font-size: 1em;
		padding: 16px 30px 16px 27px;
	}

	.submit {
		font-size: 1em;
	}
}

@media only screen and (min-width: 719px) {
	.┬──┬ {
		max-width: 640px;
	}

	footer span {
		opacity: 1;
		z-index: 1;
	}

	.text {
		max-width: 80%;
	}
}

@media only screen and (min-width: 1300px) {
	.┬──┬ {
		max-width: 720px;
	}

	h1 {
		font-size: 2em;
	}

	#trigger {
		margin: 40px;
		height: 45px;
		width: 45px;
		line-height: 43px;
	}

	nav {
		bottom: 90px;
		right: 45px;

		a {
			font-size: 1em;
			line-height: 2;
		}
	}

	.container, .text {
		margin: 35px 0 40px;
	}
}

@media only screen and (min-width: 1500px) {
	.┬──┬ {
		max-width: 900px;
	}

	h1 {
		font-size: 2.6em;
	}
}

/* Adjusted for height */

@media only screen and (max-height: 640px) {
	.container {
		margin: 25px 0;
	}

	.text {
		margin: 20px 0;
	}
}

@media only screen and (max-height: 580px) {
	h1 {
		font-size: 1.4em;
	}
}

@media only screen and (max-height: 420px) {
	#count {
		font-size: 1em;
	}

	.button {
		font-size: 0.9em;
		padding: 13px 23px 13px 20px;
	}

	.submit {
		font-size: 0.9em;
		height: 36px;
	}

	.shield {
		background-position: 20px 12px;
	}

	svg {
		height: 10px;
	}

	.container, .text {
		margin: 20px 0;
	}

	footer {
		opacity: 0;
		z-index: -200;
	}
}





/*------------------------------------*\
    #Animations
\*------------------------------------*/

@import 'animations';






