<footer>
	{% if page.home %}
		<p>
			<span id="message">HINT: Press spacebar for a new challenge.</span>
			<br>
			Crafted with <a href="https://twitter.com/MagnusSkare" target="_blank">love</a> and Arcane Dust.
		</p>
	{% else %}
		<p>Crafted with <a href="https://twitter.com/MagnusSkare" target="_blank">love</a> and Arcane Dust.</p>
	{% endif %}
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src='../js/global.js'></script>
{% if page.home %}
<script src='../js/challenge.js'></script>
{% endif %}